.userCard {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

body {
  background: url('https://cdn.pixabay.com/photo/2018/04/28/16/40/network-3357642_960_720.jpg');
  background-position: fixed;
  background-size: cover;
}


.imageContainer{
  width: 400px;
}

.followCard{
  text-align: center;
  width:  125px;
  margin: 20px;
}

.followCard:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

.displayList{
  max-width: 800px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.content{
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.calendar{
  width: 80%;
  background-color: lightgray;
}